.weixinTip img {
    max-width: 100%;
    height: auto;
}

.weixinTip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    filter: alpha(opacity=80);
}

.weixinTip p {
    text-align: center;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

html, body {
    padding: 0;
    margin: 0;
}