<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>下载</title>
    <script type="text/javascript" src="/resources/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/resources/css/download.css" type="text/css"/>
    <script src="/resources/js/copy.js"></script>
    <script src="/resources/js/jquery.qrcode.js"></script>

</head>
<body>

<script type="text/javascript">
    function is_weixin() {
        let ua = navigator.userAgent.toLowerCase();
        return ua.match(/MicroMessenger\/[0-9]/i);
    }

    function is_qq() {
        let ua = navigator.userAgent.toLowerCase();
        return ua.match(/QQ\/[0-9]/i);
    }

    var isWeixin = is_weixin();
    var isQQ = is_qq();
    var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;
    var weixinTip = $('<div class="weixinTip"><p><img src="/resources/images/live_weixin.png" alt="微信打开"/></p></div>');

    if (isWeixin || isQQ) {
        $("body").append(weixinTip);
        $(".weixinTip").css({
            "position": "fixed",
            "left": "0",
            "top": "0",
            "height": winHeight,
            "width": "100%",
            "z-index": "1000",
            "background-color": "rgba(0,0,0,0.8)",
            "filter": "alpha(opacity=80)",
        });
        $(".weixinTip p").css({
            "text-align": "center",
            "margin-top": "10%",
            "padding-left": "5%",
            "padding-right": "5%"
        });
    } else {
        $("body").append(`<div>
    <div class="top-back">
        <div class="top">
            <div class="download-icon">
                <img src="/resources/images/logo.png"/>
            </div>
            <div class="download-top-text">
                <div class="download-title">大米视频</div>
                <div class="download-title1">海量高清视频在线观看</div>
            </div>
            <div class="download-top-download" onclick="download()">立即下载</div>
        </div>
    </div>

    <div class="download-content">
        <div class="share-qrcode">
            <img id="imgLogo" src="/resources/images/logo.png"/>
            <div id="qrcode" class="logo"></div>
        </div>
        <div class="download-domain">dn1.app</div>
        <div class="download-download" onclick="download()">立即下载</div>
        <img class="download-background" src="/resources/images/2.png">
    </div>
</div>`);
    }
</script>

<script type="text/javascript">
    let download_url = '';
    if (u.match(/(iPhone|iPod|iPad);?/i)) {
        download_url = '{{ios_url}}';
    } else {
        download_url = '{{android_url}}';
    }

    function download() {
        if ("{{code}}" !== "") {
            $.ajax({
                type: "post",
                url: "/agent/toip",
                data: "code={{code}}",
                success: function (data) {
                }
            });
            copy("{{code}}");
        }
        window.location.href = download_url;//下载
    }

    $("#qrcode").qrcode({
        render: "image", //image  canvas div
        ecLevel: "H", //识别度 L low 7% ,M 15% , Q 25%, H 30%
        minVersion: parseInt(10, 10),
        color: "#2a1212", //二维码黑色小块颜色
        bgColor: "#fff", //背景颜色
        text: 'http://192.168.0.104:5000/download', //二维码内容
        size: parseInt(300, 10),//二维码大小 100-1000
        radius: parseInt(50, 10) * 0.01,  //格子圆角程度0-50
        quiet: parseInt(1, 10), //1-4
        mode: parseInt(4, 10), //0仅二维码 1文字二维码 2独占一行文字二维码3图片二维码4行内图片二维码
        image: $("#imgLogo")[0], //图片logo对象
        imagesize: parseInt(20, 10) * 0.01
    });
</script>
</body>
</html>